/ACFrOgBQ56HTZcH9O60YrGGb15hpk3C12p0bnOK10Y-oKiD9PWKT02hcMtn_ifosNOwaHZx7fMfruxNwuC1gunkcArWwBSS2peQXtQG_n4FyHUCGvbcV5Sa6C-XLQB0tFY8PSq5NJBS_pq-_Te2p.pdf
/details.txt
/input-output examples.rar
/__pycache__